body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mattressTypeButton{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: #000;
  text-align: left;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  font-family: "Source Sans Pro"
}
.mattressTypeButton ::selection {
  background-color: #d5aa63;
  color: #fff;
  border: 1px solid #d2d2d2;
}

.btn-primary,.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #fff !important;
  background-color: #e2c492 !important;
  border-color: #e2c492 !important;
  width: 90%;
}

.MuiButton-text {
  padding: 6px 25px !important;
}